<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Display Food List</title>
</head>
<body>
<div class="col-lg-3" th:object="${foods}">
    <select class="form-control" id="plId" name="foodOrder">
        <option value="">Select Food Order</option>
        <option th:each="food : ${foods}"
                th:value="${foods.id}"
                th:text="${foods.name}+' : '+${foods.food}"></option>
    </select>
</div>
<br><br>
      <a href="Welcome.html">Return to Welcome Page</a>
</body>
</html>